$image-margin: 1em;

.feed-article {
  padding: 2em;
  position: relative;
  overflow: hidden;

  &::after {
    content: '\A0';
    clear: both;
  }

  .feed-article-image {
    float: right;
    margin-left: $image-margin;
  }

  &.even-item {
    .feed-article-image {
      float: left;
      margin-right: $image-margin;
      margin-left: 0;
    }
  }

  & + .feed-article {
    margin-top: 2em;
  }
}

.feed-article-separator {
  clear: both;
  margin: 1em 4em;
}

.feed-article-image {
  width: 40%;
  max-width: 20em;

  img {
    max-width: 100%;
    height: auto;
  }
}

.feed-article-header {
  margin-bottom: 2em;
}
